@model MVC5HW.Models.客戶銀行資訊ListVM
@using PagedList
@using PagedList.MVC

@{
    ViewBag.Title = "客戶銀行資訊列表";
}

<h2>@ViewBag.Title</h2>

<p>
    @Ajax.ActionLink("Create New", "Create", new AjaxOptions() { UpdateTargetId = "Details" })

    @using (Html.BeginForm("Index", "客戶銀行資訊", FormMethod.Get))
    {
        @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入帳戶名稱" })
        <input type="submit" class="btn btn-default" value="查詢帳戶名稱" />
    }
</p>
<table class="table">
    <tr>
        <th>
            銀行名稱
        </th>
        <th>
            銀行代碼
        </th>
        <th>
            分行代碼
        </th>
        <th>
            帳戶名稱
        </th>
        <th>
            帳戶號碼
        </th>
        <th>
            客戶名稱
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.客戶銀行資訊)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.銀行名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.銀行代碼)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.分行代碼)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.帳戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.帳戶號碼)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Ajax.ActionLink("Edit", "Edit", new { id = item.Id }, new AjaxOptions() { UpdateTargetId = "Details" }) |
                @Ajax.ActionLink("Details", "Details", new { id = item.Id }, new AjaxOptions() { UpdateTargetId = "Details" }) |
                @Ajax.ActionLink("Delete", "Delete", new { id = item.Id }, new AjaxOptions() { UpdateTargetId = "Details" })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model.客戶銀行資訊, p => Url.Action("Index", new { Page = p }))

<div id="Details"></div>
@section breadcrumb{
    <li><a href="#">@ViewBag.Title</a></li>
}