@model 客戶資料ListVM

@{
    ViewBag.Title = "客戶資料列表";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(" ", "Create", "客戶資料", null, new { })
    <a href="@Url.Action("Create")" class="btn btn-primary">Create</a>

    @using (Html.BeginForm("Index", "客戶資料", FormMethod.Get))
    {
        <div class="form-group">
            @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入客戶名稱", @class = "form-control" })
            <input type="submit" class="btn btn-default" value="查詢" />
            @Html.DropDownListFor(s => s.EnumSearch, EnumHelper.GetSelectList(typeof(客戶分類Enum)), new { @class = "form-control" })
        </div>
    }

</p>
@using (Html.BeginForm("index", "客戶資料"))
{
    <table class="table">
        <tr>
            <th>
                客戶名稱
            </th>
            <th>
                統一編號
            </th>
            <th>
                電話
            </th>
            <th>
                傳真
            </th>
            <th>
                地址
            </th>
            <th>
                Email
            </th>
            <th>
                客戶分類
            </th>
            <th></th>
        </tr>


        @for (var i = 0; i < Model.客戶資料.Count(); i++)
        {
            if (TempData["客戶Id"] != null)
            {
                if (ViewBag.SelectedProductId != null && TempData["客戶Id"].ToString() == Model.客戶資料[i].Id.ToString())
                {
                    ViewBag.SelectedProductItem = Model.客戶資料[i];
                }
            }

            @Html.HiddenFor(modelItem => Model.客戶資料[i].Id)
            <tr style="background-color:@((TempData["客戶Id"]!=null?TempData["客戶Id"]:"").ToString()==Model.客戶資料[i].Id.ToString()? "yellow":"")">
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].統一編號)
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(modelItem => Model.客戶資料[i].電話, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(modelItem => Model.客戶資料[i].電話, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].傳真)
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(modelItem => Model.客戶資料[i].地址, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(modelItem => Model.客戶資料[i].地址, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].客戶分類str)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.客戶資料[i].Id }) |
                    @Html.ActionLink("Details", "Index", new { 客戶id = Model.客戶資料[i].Id, type = "Details" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.客戶資料[i].Id }) |
                    @Html.ActionLink("客戶聯絡人", "Index", new { 客戶Id = Model.客戶資料[i].Id, type = "Contect" })
                </td>
            </tr>
        }
    </table>
    <button class="btn btn-primary">批次更新</button>

}
@if (TempData["客戶Id"] != null)
{
    <div id="content">
        @if (TempData["type"].ToString() == "Details")
        {
            @Html.Partial("Details", ViewData["SelectedProductItem"])
        }
        @if (TempData["type"].ToString() == "Contect")
        {
            @Html.Action("Contect", new { 客戶Id = TempData["客戶Id"] })
        }
    </div>
}
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message =@Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

@section breadcrumb{
    <li><a href="#">@ViewBag.Title</a></li>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

    </script>
}