@model MVC5HW.Models.客戶資料ListVM

@{
    ViewBag.Title = "客戶資料列表";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "客戶資料", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                @Html.TextBoxFor(p => p.Search, new { placeholder = "請輸入客戶名稱", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-default" value="查詢客戶名稱" />
            </div>
        </div>
    }

</p>
@using (Html.BeginForm("index", "客戶資料"))
{
    <table class="table">
        <tr>
            <th>
                客戶名稱
            </th>
            <th>
                統一編號
            </th>
            <th>
                電話
            </th>
            <th>
                傳真
            </th>
            <th>
                地址
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>


        @for (var i = 0; i < Model.客戶資料.Count(); i++)
        {
            @Html.HiddenFor(modelItem => Model.客戶資料[i].Id)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].統一編號)
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(modelItem => Model.客戶資料[i].電話, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(modelItem => Model.客戶資料[i].電話, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].傳真)
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(modelItem => Model.客戶資料[i].地址, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(modelItem => Model.客戶資料[i].地址, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.客戶資料[i].Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.客戶資料[i].Id }) |
                    @Html.ActionLink("Details", "Details", new { id = Model.客戶資料[i].Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.客戶資料[i].Id })
                </td>
            </tr>
        }
    </table>
    <button class="btn btn-primary">批次更新</button>

}
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message =@Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

@section breadcrumb{
    <li><a href="#">@ViewBag.Title</a></li>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
